body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgba(116, 150, 136, 0.616);
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    align-content: center;
    background-color:white;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    padding: 5px;

}
.card {
    display: flex;
    flex-flow: wrap;
    width: 320px;
    height: 340px;
}
.card-body {
    display: flex;
    width: 340px;
    height: 240px;
    text-align: center;
    justify-content: center;
    padding: 20px;  ;

}
.card-title {
    text-align: center;
     justify-content: space-between;
}
.card-edit {
    background-color: blue;
    color: white;
    align-content: center;
}
.card-forword {
    background-color: green;
    color: white;
    align-content: center;
}
.card-delete {
    background-color:red;
    color: white;
}
.productButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn-success {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;

}
img {
    width: 230px;
    height: 100px;
    border-radius: 50px;
}
